* {
  box-sizing: border-box;
}

#root {
  display: grid;
  grid-template-rows: auto 1fr auto;

  align-items: start;
  width: 100vw;
  margin: 0;
  text-align: center;
  min-height: 100vh;
}

.top-level-section {
  grid-row: 2/3;
  width: 65%;
  justify-self: center;
  align-self: start;
}

.tech-list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.features-list {
  list-style-position: inside;
  width: 75%;
  justify-self: center;
  text-align: left;
  margin: 0;
  padding: 0;
}

@media only screen and (max-width: 600px) {
  .top-level-section {
    width: 100%;
    padding: 1em;
  }

  .features-list {
    width: 100%;
  }
}

img {
  max-width: 70vw;
}

select {
  padding: 1em;
}

.right-align-italics {
  text-align: end;
  font-style: italic;
}

.left-align-italics {
  text-align: start;
  font-style: italic;
}

.right-align {
  text-align: end;
}

.left-align {
  text-align: start;
}

.login-form {
  justify-self: center;
  display: grid;
  width: 60%;
  grid-template-columns: 1fr;
  justify-content: space-around;
  row-gap: 1em;
}

.vertically-centered-section {
  align-self: center;
}
