article {
  background-color: var(--secondary);
  padding: 1em;
  margin-top: 1em;
  border-radius: 1em;
}

.article-headline {
  margin-top: 0.1em;
}

article p {
  font-size: 1.5em;
}

.article-info {
  display: grid;
  grid-template-columns: auto auto;
}

.voting-container {
  margin-top: 1em;
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 1em;
  font-size: 0.9rem;
}

.voting-button {
  font-size: 1.1em;
  background-color: var(--secondary);
  padding: 0.5em;
}

.likes-indicator,
.voting-error-message {
  font-size: 1.5rem;
  margin: 0;
}

.voting-error-message {
  font-size: 1rem;
  font-style: italic;
  margin: 0;
}

.comment-count {
  font-size: 0.5em;
  align-self: center;
}
