.pagination-line {
  justify-self: end;
}

.articles-nav-bar {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: auto auto;
  align-items: center;
  margin-bottom: 1em;
}

.articles-filter {
  justify-self: start;
}

.articles-sort {
  justify-self: end;
}
