.title-card {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 2rem;
  background-color: var(--secondary);
  border-radius: 10px;
  transition: 0.2s;
}

.title-card:hover {
  box-shadow: 0 0.2em 0.5em;
}

.title {
  grid-column-start: 1;
  grid-column-end: 3;
}

.date {
  align-self: center;
}
