.title-card {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: auto auto auto;

  background-color: var(--secondary);
  border-radius: 10px;
  transition: 0.2s;
  padding: 1em;
  width: 100%;
  height: 100%;
}

.title-card:hover {
  box-shadow: 0 0.2em 0.5em;
}

.title {
  grid-column: 1/5;
  grid-row: 2;
}

.votes,
.topic,
.author,
.date {
  font-style: italic;
}

.titles-container {
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: grid;
  grid-gap: 1rem;
  grid-template-areas:
    "t0  . "
    "t0  . "
    "t0  . "
    "t5  t5 "
    ".  t6 "
    ".  t6 "
    ".  t6 "
    "t9  t9";
}
.t0 {
  grid-area: t0;
}

.t5 {
  grid-area: t5;
}

.t6 {
  grid-area: t6;
}

.t9 {
  grid-area: t9;
}

.title-image {
  width: 100%;
  grid-row: 1/2;
  grid-column: 1/5;
  border-radius: 10px;
}

@media only screen and (max-width: 600px) {
  .titles-container {
    display: flex;
    flex-direction: column;
  }

  .title-card {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto auto;
  }

  .title-image {
    grid-row: 2/3;
    grid-column: 1/3;
    justify-self: center;
  }

  .title {
    grid-row: 3/4;
    grid-column: 1/3;
  }

  .topic {
    grid-row: 4;
    grid-column: 1;

    text-align: start;
  }

  .author {
    grid-row: 4;
    grid-column: 2;
    text-align: end;
  }

  .date {
    grid-row: 1;
    grid-column: 1;
    text-align: start;
  }

  .votes {
    grid-row: 1;
    grid-column: 2;
    text-align: end;
  }
}
