* {
  box-sizing: border-box;
}

#root {
  max-width: 1280px;
  width: 100vw;
  margin: 0;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

header,
footer {
  width: 100%;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  border: solid 1px;
}

article p {
  font-size: 1.5em;
}

header ul {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
}

header ul li {
  padding: 1em;
}

.title-card {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  border: dotted;
  margin: 2rem;
}

.title {
  grid-column-start: 1;
  grid-column-end: 3;
}

.date {
  align-self: center;
}

.right-align-italics {
  text-align: end;
  font-style: italic;
}

.left-align-italics {
  text-align: start;
  font-style: italic;
}

.right-align {
  text-align: end;
}

.left-align {
  text-align: start;
}

.article-info {
  display: grid;
  grid-template-columns: 50% 50%;
}

.comment {
  border-bottom: solid 1px;
  font-size: 1.2em;
}

.comment-view-button {
  align-self: center;
  width: 100%;
  padding: 1em;
  font-size: 1.4em;
  margin-top: 1em;
  margin-bottom: 1em;
}
